/* @import "~bootstrap/scss/bootstrap"; */

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  position: relative;
}

.alert-default {
  width: 40%;
}

.sb-show-main .sb-main-padded {
  height: 100vh;
}

.alert-primary {
  background-color: #145c9e !important;
  color: #f6fbff !important;
}

.alert-secondary {
  background-color: #8a8a8a !important;
  color: #f6fbff !important;
}
.alert-success {
  color: #f6fbff !important;
  background-color: #24be5c !important;
}

.alert-danger {
  color: #f6fbff !important;
  background-color: #ec0c24 !important;
}

.alert-warning {
  color: #f6fbff !important;
  background-color: #ffa800 !important;
}

.alert-info {
  color: #f6fbff !important;
  background-color: #369efb !important;
}

.alert-light {
  color: #333333 !important;
  background-color: #dcdcdc !important;
}

.alert-dark {
  color: #f6fbff !important;
  background-color: #333333 !important;
}

.storybook-badge--small {
  font-size: 12px;
  padding: 10px 12px;
}
.storybook-badge--medium {
  font-size: 16px;
  padding: 14px 16px;
}
.storybook-badge--large {
  font-size: 20px;
  padding: 16px 20px;
}

.badge-primary {
  background-color: #145c9e !important;
  color: #f6fbff !important;
}

.badge-secondary {
  background-color: #8a8a8a !important;
  color: #f6fbff !important;
}
.badge-success {
  color: #f6fbff !important;
  background-color: #24be5c !important;
}

.badge-danger {
  color: #f6fbff !important;
  background-color: #ec0c24 !important;
}

.badge-warning {
  color: #f6fbff !important;
  background-color: #ffa800 !important;
}

.badge-info {
  color: #f6fbff !important;
  background-color: #369efb !important;
}

.badge-light {
  color: #333333 !important;
  background-color: #dcdcdc !important;
}

.badge-dark {
  color: #f6fbff !important;
  background-color: #333333 !important;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.btn:focus {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.btn-primary:focus {
  color: #fff;
  background-color: #145c9ede !important;
  border-color: #145c9ede !important;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #145c9ede !important;
  border-color: #145c9ede !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-primary:hover {
  color: #fff;
  background-color: #145c9ede !important;
  border-color: #145c9ede !important;
}

.btn-primary {
  background-color: #145c9e !important;
  border-color: #145c9e !important;
}

.btn-secondary {
  background-color: #8a8a8a !important;
  border-color: #8a8a8a !important;
}
.btn-success {
  background-color: #24be5c !important;
  border-color: #24be5c !important;
}

.btn-danger {
  background-color: #ec0c24 !important;
  border-color: #ec0c24 !important;
}

.btn-warning {
  background-color: #ffa800 !important;
  border-color: #ffa800 !important;
}

.btn-info {
  background-color: #369efb !important;
  border-color: #369efb !important;
}

.btn-light {
  background-color: #dcdcdc !important;
  border-color: #dcdcdc !important;
}

.btn-dark {
  background-color: #333333 !important;
  border-color: #333333 !important;
}

.btn-outline-primary {
  border-color: #145c9e !important;
  color: #145c9e !important;
}

.btn-outline-secondary {
  border-color: #8a8a8a !important;
  color: #8a8a8a !important;
}
.btn-outline-success {
  border-color: #24be5c !important;
  color: #24be5c !important;
}

.btn-outline-danger {
  border-color: #ec0c24 !important;
  color: #ec0c24 !important;
}

.btn-outline-warning {
  border-color: #ffa800 !important;
  color: #ffa800 !important;
}

.btn-outline-info {
  border-color: #369efb !important;
  color: #369efb !important;
}

.btn-outline-light {
  border-color: #dcdcdc !important;
  color: #dcdcdc !important;
}

.btn-outline-dark {
  border-color: #333333 !important;
  color: #333333 !important;
}

.vartani-playground-button-wrapper {
  display: flex;
  flex-direction: column;
}

.vartani-playground-toolbar-button {
  margin-top: 38px;
}

.vaartani-playground-card-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.bg-primary {
  background-color: #145c9e !important;
  color: #f6fbff !important;
}

.bg-secondary {
  background-color: #8a8a8a !important;
  color: #f6fbff !important;
}
.bg-success {
  color: #f6fbff !important;
  background-color: #24be5c !important;
}

.bg-danger {
  color: #f6fbff !important;
  background-color: #ec0c24 !important;
}

.bg-warning {
  color: #f6fbff !important;
  background-color: #ffa800 !important;
}

.bg-info {
  color: #f6fbff !important;
  background-color: #369efb !important;
}

.bg-light {
  color: #333333 !important;
  background-color: #dcdcdc !important;
}

.bg-dark {
  color: #f6fbff !important;
  background-color: #333333 !important;
}

.bg-primary .text-muted {
  color: #f6fbff !important;
}

.bg-secondary .text-muted {
  color: #f6fbff !important;
}
.bg-success .text-muted {
  color: #f6fbff !important;
}

.bg-danger .text-muted {
  color: #f6fbff !important;
}

.bg-warning .text-muted {
  color: #f6fbff !important;
}

.bg-info .text-muted {
  color: #f6fbff !important;
}

.bg-light .text-muted {
  color: #333333 !important;
}

.bg-dark .text-muted {
  color: #f6fbff !important;
}

.border-primary {
  border-color: #145c9e !important;
}

.border-secondary {
  border-color: #8a8a8a !important;
}
.border-success {
  border-color: #24be5c !important;
}

.border-danger {
  border-color: #ec0c24 !important;
}

.border-warning {
  border-color: #ffa800 !important;
}

.border-info {
  border-color: #369efb !important;
}

.border-light {
  border-color: #dcdcdc !important;
}

.border-dark {
  border-color: #333333 !important;
}

.vaartani-playground-card-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.Mui-checked-primary {
  /* color: #f6fbff !important; */
  color: #145c9e !important;
}

.Mui-checked-secondary {
  /* color: #f6fbff !important; */
  color: #8a8a8a !important;
}
.Mui-checked-success {
  /* color: #f6fbff !important; */
  color: #24be5c !important;
}

.Mui-checked-danger {
  /* color: #f6fbff !important; */
  color: #ec0c24 !important;
}

.Mui-checked-warning {
  /* color: #f6fbff !important; */
  color: #ffa800 !important;
}

.Mui-checked-info {
  /* color: #f6fbff !important; */
  color: #369efb !important;
}

.Mui-checked-light {
  /* color: #333333 !important; */
  color: #dcdcdc !important;
}

.Mui-checked-dark {
  /* color: #f6fbff !important; */
  color: #333333 !important;
}

.Mui-checked-primary:hover {
  /* color: #f6fbff !important; */
  background-color: #145c9e1a !important;
}

.Mui-checked-secondary:hover {
  /* background-color: #f6fbff !important; */
  background-color: #8a8a8a1a !important;
}
.Mui-checked-success:hover {
  /* background-color: #f6fbff !important; */
  background-color: #24be5c1a !important;
}

.Mui-checked-danger:hover {
  /* background-color: #f6fbff !important; */
  background-color: #ec0c241a !important;
}

.Mui-checked-warning:hover {
  /* background-color: #f6fbff !important; */
  background-color: #ffa8001a !important;
}

.Mui-checked-info:hover {
  /* background-color: #f6fbff !important; */
  background-color: #369efb1a !important;
}

.Mui-checked-light:hover {
  /* background-color: #333333 !important; */
  background-color: #dcdcdc1a !important;
}

.Mui-checked-dark:hover {
  /* background-color: #f6fbff !important; */
  background-color: #3333331a !important;
}


.list-group button {
  margin-left: 0;
}

.list-group-item-primary {
  background-color: #145c9e !important;
  color: #f6fbff !important;
}

.list-group-item-secondary {
  background-color: #8a8a8a !important;
  color: #f6fbff !important;
}
.list-group-item-success {
  color: #f6fbff !important;
  background-color: #24be5c !important;
}

.list-group-item-danger {
  color: #f6fbff !important;
  background-color: #ec0c24 !important;
}

.list-group-item-warning {
  color: #f6fbff !important;
  background-color: #ffa800 !important;
}

.list-group-item-info {
  color: #f6fbff !important;
  background-color: #369efb !important;
}

.list-group-item-light {
  color: #333333 !important;
  background-color: #dcdcdc !important;
}

.list-group-item-dark {
  color: #f6fbff !important;
  background-color: #333333 !important;
}







.storybook-progrssbar {
  width: 500px;
}

.text-primary {
  color: #145c9e !important;
}

.text-secondary {
  color: #8a8a8a !important;
}
.text-success {
  color: #24be5c !important;
}

.text-danger {
  color: #ec0c24 !important;
}

.text-warning {
  color: #ffa800 !important;
}

.text-info {
  color: #369efb !important;
}

.text-light {
  color: #dcdcdc !important;
}

.text-dark {
  color: #333333 !important;
}

.storybook-button-spinner {
  margin-right: 20px;
}

.vaartani-playground-card-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.MuiSwitch-switchBase-primary .MuiSwitch-switchBase.Mui-checked {
  /* color: #f6fbff !important; */
  color: #145c9e !important;
}

.MuiSwitch-switchBase-secondary .MuiSwitch-switchBase.Mui-checked {
  /* color: #f6fbff !important; */
  color: #8a8a8a !important;
}
.MuiSwitch-switchBase-success .MuiSwitch-switchBase.Mui-checked {
  /* color: #f6fbff !important; */
  color: #24be5c !important;
}

.MuiSwitch-switchBase-danger .MuiSwitch-switchBase.Mui-checked {
  /* color: #f6fbff !important; */
  color: #ec0c24 !important;
}

.MuiSwitch-switchBase-warning .MuiSwitch-switchBase.Mui-checked {
  /* color: #f6fbff !important; */
  color: #ffa800 !important;
}

.MuiSwitch-switchBase-info .MuiSwitch-switchBase.Mui-checked {
  /* color: #f6fbff !important; */
  color: #369efb !important;
}

.MuiSwitch-switchBase-light .MuiSwitch-switchBase.Mui-checked {
  /* color: #333333 !important; */
  color: #dcdcdc !important;
}

.MuiSwitch-switchBase-dark .MuiSwitch-switchBase.Mui-checked {
  /* color: #f6fbff !important; */
  color: #333333 !important;
}

.MuiSwitch-switchBase-primary .MuiSwitch-switchBase.Mui-checked:hover {
  /* color: #f6fbff !important; */
  background-color: #145c9e1a !important;
}

.MuiSwitch-switchBase-secondary .MuiSwitch-switchBase.Mui-checked:hover {
  /* background-color: #f6fbff !important; */
  background-color: #8a8a8a1a !important;
}
.MuiSwitch-switchBase-success .MuiSwitch-switchBase.Mui-checked:hover {
  /* background-color: #f6fbff !important; */
  background-color: #24be5c1a !important;
}

.MuiSwitch-switchBase-danger .MuiSwitch-switchBase.Mui-checked:hover {
  /* background-color: #f6fbff !important; */
  background-color: #ec0c241a !important;
}

.MuiSwitch-switchBase-warning .MuiSwitch-switchBase.Mui-checked:hover {
  /* background-color: #f6fbff !important; */
  background-color: #ffa8001a !important;
}

.MuiSwitch-switchBase-info .MuiSwitch-switchBase.Mui-checked:hover {
  /* background-color: #f6fbff !important; */
  background-color: #369efb1a !important;
}

.MuiSwitch-switchBase-light .MuiSwitch-switchBase.Mui-checked:hover {
  /* background-color: #333333 !important; */
  background-color: #dcdcdc1a !important;
}

.MuiSwitch-switchBase-dark .MuiSwitch-switchBase.Mui-checked:hover {
  /* background-color: #f6fbff !important; */
  background-color: #3333331a !important;
}

.MuiSwitch-switchBase-primary
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  /* color: #f6fbff !important; */
  background-color: #145c9e9c !important;
}

.MuiSwitch-switchBase-secondary
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  /* background-color: #f6fbff !important; */
  background-color: #8a8a8a9c !important;
}
.MuiSwitch-switchBase-success
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  /* background-color: #f6fbff !important; */
  background-color: #24be5c9c !important;
}

.MuiSwitch-switchBase-danger
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  /* background-color: #f6fbff !important; */
  background-color: #ec0c249c !important;
}

.MuiSwitch-switchBase-warning
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  /* background-color: #f6fbff !important; */
  background-color: #ffa8009c !important;
}

.MuiSwitch-switchBase-info
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  /* background-color: #f6fbff !important; */
  background-color: #369efb9c !important;
}

.MuiSwitch-switchBase-light
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  /* background-color: #333333 !important; */
  background-color: #dcdcdc9c !important;
}

.MuiSwitch-switchBase-dark
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  /* background-color: #f6fbff !important; */
  background-color: #3333339c !important;
}

.MuiSwitch-large-primary-checked + .MuiSwitch-large-primary-track {
  background-color: #145c9e32 !important;
}
.MuiSwitch-large-primary-checked {
  color: #145c9e !important;
}
.MuiSwitch-large-secondary-checked + .MuiSwitch-large-secondary-track {
  background-color: #8a8a8a32 !important;
}
.MuiSwitch-large-secondary-checked {
  color: #8a8a8a !important;
}
.MuiSwitch-large-success-checked + .MuiSwitch-large-success-track {
  background-color: #24be5c32 !important;
}
.MuiSwitch-large-success-checked {
  color: #24be5c !important;
}
.MuiSwitch-large-danger-checked + .MuiSwitch-large-danger-track {
  background-color: #ec0c2432 !important;
}
.MuiSwitch-large-danger-checked {
  color: #ec0c24 !important;
}
.MuiSwitch-large-warning-checked + .MuiSwitch-large-warning-track {
  background-color: #ffa80032 !important;
}
.MuiSwitch-large-warning-checked {
  color: #ffa800 !important;
}
.MuiSwitch-large-info-checked + .MuiSwitch-large-info-track {
  background-color: #369efb32 !important;
}
.MuiSwitch-large-info-checked {
  color: #369efb !important;
}
.MuiSwitch-large-light-checked + .MuiSwitch-large-light-track {
  background-color: #dcdcdc32 !important;
}
.MuiSwitch-large-light-checked {
  color: #dcdcdc !important;
}
.MuiSwitch-large-dark-checked + .MuiSwitch-large-dark-track {
  background-color: #33333332 !important;
}
.MuiSwitch-large-dark-checked {
  color: #333333 !important;
}






/*# sourceMappingURL=main.46b989b3.chunk.css.map*/