/* @import "~bootstrap/scss/bootstrap"; */

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.alert-default {
  width: 40%;
}

.sb-show-main .sb-main-padded {
  height: 100vh;
}

.alert-primary {
  background-color: #145c9e !important;
  color: #f6fbff !important;
}

.alert-secondary {
  background-color: #8a8a8a !important;
  color: #f6fbff !important;
}
.alert-success {
  color: #f6fbff !important;
  background-color: #24be5c !important;
}

.alert-danger {
  color: #f6fbff !important;
  background-color: #ec0c24 !important;
}

.alert-warning {
  color: #f6fbff !important;
  background-color: #ffa800 !important;
}

.alert-info {
  color: #f6fbff !important;
  background-color: #369efb !important;
}

.alert-light {
  color: #333333 !important;
  background-color: #dcdcdc !important;
}

.alert-dark {
  color: #f6fbff !important;
  background-color: #333333 !important;
}

.storybook-badge--small {
  font-size: 12px;
  padding: 10px 12px;
}
.storybook-badge--medium {
  font-size: 16px;
  padding: 14px 16px;
}
.storybook-badge--large {
  font-size: 20px;
  padding: 16px 20px;
}

.badge-primary {
  background-color: #145c9e !important;
  color: #f6fbff !important;
}

.badge-secondary {
  background-color: #8a8a8a !important;
  color: #f6fbff !important;
}
.badge-success {
  color: #f6fbff !important;
  background-color: #24be5c !important;
}

.badge-danger {
  color: #f6fbff !important;
  background-color: #ec0c24 !important;
}

.badge-warning {
  color: #f6fbff !important;
  background-color: #ffa800 !important;
}

.badge-info {
  color: #f6fbff !important;
  background-color: #369efb !important;
}

.badge-light {
  color: #333333 !important;
  background-color: #dcdcdc !important;
}

.badge-dark {
  color: #f6fbff !important;
  background-color: #333333 !important;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.btn:focus {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.btn-primary:focus {
  color: #fff;
  background-color: #145c9ede !important;
  border-color: #145c9ede !important;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #145c9ede !important;
  border-color: #145c9ede !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-primary:hover {
  color: #fff;
  background-color: #145c9ede !important;
  border-color: #145c9ede !important;
}

.btn-primary {
  background-color: #145c9e !important;
  border-color: #145c9e !important;
}

.btn-secondary {
  background-color: #8a8a8a !important;
  border-color: #8a8a8a !important;
}
.btn-success {
  background-color: #24be5c !important;
  border-color: #24be5c !important;
}

.btn-danger {
  background-color: #ec0c24 !important;
  border-color: #ec0c24 !important;
}

.btn-warning {
  background-color: #ffa800 !important;
  border-color: #ffa800 !important;
}

.btn-info {
  background-color: #369efb !important;
  border-color: #369efb !important;
}

.btn-light {
  background-color: #dcdcdc !important;
  border-color: #dcdcdc !important;
}

.btn-dark {
  background-color: #333333 !important;
  border-color: #333333 !important;
}

.btn-outline-primary {
  border-color: #145c9e !important;
  color: #145c9e !important;
}

.btn-outline-secondary {
  border-color: #8a8a8a !important;
  color: #8a8a8a !important;
}
.btn-outline-success {
  border-color: #24be5c !important;
  color: #24be5c !important;
}

.btn-outline-danger {
  border-color: #ec0c24 !important;
  color: #ec0c24 !important;
}

.btn-outline-warning {
  border-color: #ffa800 !important;
  color: #ffa800 !important;
}

.btn-outline-info {
  border-color: #369efb !important;
  color: #369efb !important;
}

.btn-outline-light {
  border-color: #dcdcdc !important;
  color: #dcdcdc !important;
}

.btn-outline-dark {
  border-color: #333333 !important;
  color: #333333 !important;
}

.vartani-playground-button-wrapper {
  display: flex;
  flex-direction: column;
}

.vartani-playground-toolbar-button {
  margin-top: 38px;
}

.vaartani-playground-card-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.bg-primary {
  background-color: #145c9e !important;
  color: #f6fbff !important;
}

.bg-secondary {
  background-color: #8a8a8a !important;
  color: #f6fbff !important;
}
.bg-success {
  color: #f6fbff !important;
  background-color: #24be5c !important;
}

.bg-danger {
  color: #f6fbff !important;
  background-color: #ec0c24 !important;
}

.bg-warning {
  color: #f6fbff !important;
  background-color: #ffa800 !important;
}

.bg-info {
  color: #f6fbff !important;
  background-color: #369efb !important;
}

.bg-light {
  color: #333333 !important;
  background-color: #dcdcdc !important;
}

.bg-dark {
  color: #f6fbff !important;
  background-color: #333333 !important;
}

.bg-primary .text-muted {
  color: #f6fbff !important;
}

.bg-secondary .text-muted {
  color: #f6fbff !important;
}
.bg-success .text-muted {
  color: #f6fbff !important;
}

.bg-danger .text-muted {
  color: #f6fbff !important;
}

.bg-warning .text-muted {
  color: #f6fbff !important;
}

.bg-info .text-muted {
  color: #f6fbff !important;
}

.bg-light .text-muted {
  color: #333333 !important;
}

.bg-dark .text-muted {
  color: #f6fbff !important;
}

.border-primary {
  border-color: #145c9e !important;
}

.border-secondary {
  border-color: #8a8a8a !important;
}
.border-success {
  border-color: #24be5c !important;
}

.border-danger {
  border-color: #ec0c24 !important;
}

.border-warning {
  border-color: #ffa800 !important;
}

.border-info {
  border-color: #369efb !important;
}

.border-light {
  border-color: #dcdcdc !important;
}

.border-dark {
  border-color: #333333 !important;
}


.list-group button {
  margin-left: 0;
}

.list-group-item-primary {
  background-color: #145c9e !important;
  color: #f6fbff !important;
}

.list-group-item-secondary {
  background-color: #8a8a8a !important;
  color: #f6fbff !important;
}
.list-group-item-success {
  color: #f6fbff !important;
  background-color: #24be5c !important;
}

.list-group-item-danger {
  color: #f6fbff !important;
  background-color: #ec0c24 !important;
}

.list-group-item-warning {
  color: #f6fbff !important;
  background-color: #ffa800 !important;
}

.list-group-item-info {
  color: #f6fbff !important;
  background-color: #369efb !important;
}

.list-group-item-light {
  color: #333333 !important;
  background-color: #dcdcdc !important;
}

.list-group-item-dark {
  color: #f6fbff !important;
  background-color: #333333 !important;
}






.storybook-progrssbar {
  width: 500px;
}

.text-primary {
  color: #145c9e !important;
}

.text-secondary {
  color: #8a8a8a !important;
}
.text-success {
  color: #24be5c !important;
}

.text-danger {
  color: #ec0c24 !important;
}

.text-warning {
  color: #ffa800 !important;
}

.text-info {
  color: #369efb !important;
}

.text-light {
  color: #dcdcdc !important;
}

.text-dark {
  color: #333333 !important;
}

.storybook-button-spinner {
  margin-right: 20px;
}


/*# sourceMappingURL=main.b0d7845c.chunk.css.map*/